[submodule "protocol-tn5250"]
	path = src/network/tn5250
	url = https://github.com/5250ng/protocol-tn5250.git
[submodule "libs/5250script"]
	path = libs/5250script
	url = https://github.com/ausboss/5250script.git
